body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;
}

.main_table {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

.right_side {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}

.about_me {
  margin-bottom: 40px;
}

.about_position {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}

.about_name {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
}

.about_description {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  width: 400px;
}

.title_right_side {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.projects {
  margin-bottom: 50px;
}

.project_ol {
  padding: 0;
  margin-left: 15px;
}

.project_li {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.project_t,
.project_t_link {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.project_t_link {
  margin-left: 10px;
}

.project_t_br {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.work {
  margin-bottom: 45px;
  width: 525px;
}

.work_name {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.work_company {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.work_p {
  color: #a8a8a8;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
}

.defis {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.company_ul {
  padding: 0;
  margin-left: 15px;
}

.company_li {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* .education {} */

-- > .edu_work {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.edu_name {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}

.left_side {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
}

.vodiy_photo {
  width: 370px;
  margin-bottom: 50px;
}

.title_left_side {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contacts,
.tech_skill,
.soft_skill {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.tech_skill {
  margin-bottom: 45px;
}

.contact_type {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
}

.contact_link {
  color: #565e6a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.skill_ul {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin-left: 15px;
}

.skill_li {
  color: #fb6d3a;
}

.skill_text {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
